html, body {
	position: fixed;
	width: 100%;
	height: 100%;
}

body {
	height: inherit;
	width: inherit;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: #11151C;
	z-index: 0;
}

@font-face {
	font-family: 'Ruthie';
	src: url('/fonts/Ruthie-Regular.ttf');
}
